@mixin intrinsic($property, $value) {
    @if $value == fit-content or $value == min-content or $value == max-content {
      #{$property}: -webkit-#{$value};
      #{$property}: -moz-#{$value};
      #{$property}: $value;
    }
  
    @else if $value == fill-available or $value == available {
      #{$property}: -webkit-fill-available;
      #{$property}: -moz-available;
      #{$property}: fill-available;
    }
  
    @else {
      #{$property}: $value;
    }
  }

@mixin renderGridStyles($settings) {
    $breakpoints: map-get($settings, "breakpoints");
    @each $key, $breakpoint in $breakpoints{
        @include media($breakpoint){

        }
    }
}

@mixin renderGrid($key, $settings) {
    $i: 1;
    @while $i <= map-get($settings, "columns") {
        .col-#{$key}-#{$i}{
            float: left;
            width: 100% * $i / map-get($settings, "columns");
        }
        $i: $i+1;
    }
}